
altair==5.1.2
numpy==1.26.1
pandas==2.1.2
pydeck==0.8.0
streamlit==1.28.1


openai
tiktoken
requests
python-dotenv
langchain
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
faiss-cpu
pyupdater
Markdown
pdfplumber
PyPDF2
pdfminer.six
beautifulsoup4 
psycopg2
psycopg2-binary
openpyxl
mysql-connector-python
mariadb
webdriver_manager
selenium
pytelegrambotapi
xlrd
geopy
plotly
seaborn
